# Editor crap (emacs, vim, ...)
*.swp
*.orig
\#*\#
.\#*
.*.sw[a-z]
*.un~

# Hidden files, general things
.*
*~

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.lai
*.la
*.a

# Testing folders
test/fuzzing/

# Ignore if someone adapts Makefile
Makefile

# Other documentation ignores
*.md
*.ps

# Compressed archives
*.tar.bz2
*.tar.bz
*.tar.xz

# Excluded from ignorance
!.gitignore
