#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#

Tobias Klauser <tklauser@distanz.ch>
Emmanuel Roullit <emmanuel@netsniff-ng.org>
Emmanuel Roullit <roullit@gnumaniacs.org>
Jon Schipp <jonschipp@gmail.com>
Christoph Jaeger <christoph@netsniff-ng.org>
Christoph Jaeger <github@christophjaeger.fastmail.us>
Daniel Borkmann <daniel@netsniff-ng.org>
Daniel Borkmann <borkmann@gnumaniacs.org>
Daniel Borkmann <borkmann@iogearbox.net>
Daniel Borkmann <dborkman@redhat.com>
Daniel Borkmann <borkmann@iogearbox.net>	root <root@nb-10309.(none)>
Daniel Borkmann <borkmann@iogearbox.net>	darkstar <darkstar@thinkbox.(none)>
Markus Amend <markus@netsniff-ng.org>
Stefan Seering <sseeringgithub@gmx.de>
Jesper Dangaard Brouer <brouer@redhat.com>
Jim Binder <jbinder6342@gmail.com>
