#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#

Daniel Borkmann <daniel@netsniff-ng.org>
Daniel Borkmann <borkmann@gnumaniacs.org>
Daniel Borkmann <dborkma@tik.ee.ethz.ch>
Daniel Borkmann <borkmann@iogearbox.net>
Daniel Borkmann <borkmann@iogearbox.net>	root <root@nb-10309.(none)>
Emmanuel Roullit <emmanuel@netsniff-ng.org>
Emmanuel Roullit <roullit@gnumaniacs.org>
Markus Amend <markus@netsniff-ng.org>
Christoph Jaeger <christoph@netsniff-ng.org>
Christoph Jaeger <github@christophjaeger.fastmail.us>
Stefan Seering <sseeringgithub@gmx.de>
