Source: netsniff-ng
Section: net
Priority: optional
Maintainer: Daniel Borkmann <danborkmann@googlemail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7)
Homepage: http://code.google.com/p/netsniff-ng/

Package: netsniff-ng
Architecture: i386 ia64 alpha amd64 arm armeb armel hppa mips mipsel powerpc ppc64 s390 s390x sh3 sh3eb sh4 sh4eb sparc
Depends: ${shlibs:Depends}
Description: a high performance network sniffer for packet inspection
 netsniff-ng is a high performance Linux network sniffer 
 for packet inspection. It can be used for protocol analysis 
 and reverse engineering, network debugging, measurement of 
 performance throughput or network statistics creation of 
 incoming packets on central network nodes like routers 
 or firewalls. It works similar to tcpdump, but a 'zero-copy' 
 mechanism for network packets results in better performance 
 than libpcap-based sniffers.
